.about {
  padding: 5rem 1rem;

  &__text {
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
    &__img {
      height: 12.5rem;
      width: 100%;
      object-fit: cover;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  @media (max-width: 900px) {
    &__images {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 640px) {
    padding: 3rem 1rem;
    &__images {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 300px) {
    padding: 3rem 1rem;
    &__images {
      grid-template-columns: 1fr;
    }
  }
}
